<body>
  <section class="dash">
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col">
          <h1 class="text-center mt-5">{{ name }}'s Todo List</h1>
        </div>
        <hr>
      </div>
      <p *ngFor="let chore of todos">
        <i class="fas fa-pencil-alt" (click)="editTodo(chore)"></i> {{ chore }}
        <i class="fas fa-times-circle" (click)="deleteTodo(chore)"></i>

      </p>

      <div class="row">
        <div class="col">
          <input [(ngModel)]="todoInput" type='text' class="form-control mt-4" (keyup.enter)="createTodo()">
          <br>
          <button class="btn btn-danger my-3" (click)="createTodo()">Click To Add Task</button>
          <button class="btn btn-orange" (click)="deleteAllTodos(todo)">Delete All</button>
        </div>
      </div>
    </div>
  </section>
</body>

<!-- 
<div class="row">
  <div class="col text-center">
<button(click)="myFunction()" class="btn btn-primary">Click Me!!</button>
  </div>
</div> -->

<!-- <i class="fas fa-times-circle"></i> -->